<%= form_for :page, :url => project_gollum_path(:id => @name), :html => { :method => "put" } do |f| -%>
<%= f.text_area :raw_data, :class => "wiki-edit", :cols => 100, :row => 25 %>
<p><%= f.submit(l(:button_save)) %></p>
<% end %>
